h1 Web-chat

script(type='text/javascript')
	socket.on('htmlmsg', function(htmlmsg) {
		document.getElementById("rows").innerHTML += htmlmsg;
	}

div(id="rows")
	div(class="row")
		span "foo"
	div(class="row")
		span "bar"

div(id="input")
	form
		input(type="text",id="prompt")
