div(class="row")
	div(class="span4 columns offset2")
		h1 Web-chat
	
div(class="row")
	div(class="span15 columns offset1")
		div(id="ircrows")
			div(class="ircrow")
				span "foo"
			div(class="ircrow")
				span "bar"

div(class="row")
	div(class="span15 columns offset1")
		div(id="input")
			form(id="sendmsgform")
				input(type="text",id="prompt",size="80")
