!!! 5
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/client.js')
    script(src='/socket.io/socket.io.js')
  body!= body
