div(class="row")
	div(class="span15 columns offset1")
		div(id="input")
			h4 What's topic?
			form(id="sendmsgform")
				input(type="text",id="prompt",placeholder="",autocomplete='off')

div(class="row")
	div(class="span13 columns offset1")
		ul(class="tabs")
			li(class="active")
				a(href="#",id="timelinetab") Timeline
			li
				a(href="#",id="guidetab") Custom guide
		div(id="ircrows",class="tab")
		div(id="guide",class="tab",style="display: none;")
			!= partial('custom-guide')
	div(class="span2 columns offset1")
		ul(class="unstyled")
			li paveq
			li jhh
			li jkj

