div(class="topbar")
	div(class="fill")
		div(class="container")
			h3
				a(href="#") Web-chat
			form(id="loginform")
				input(type="text",id="nick",placeholder="Set your nick here",autocomplete='off')

div(class="row")
	div(class="span4 columns offset2")
		h1 Web-chat
	
div(class="row")
	div(class="span15 columns offset1")
		div(id="input")
			form(id="sendmsgform")
				input(type="text",id="prompt",placeholder="What's the meaning of life?",autocomplete='off')

div(class="row")
	div(class="span13 columns offset1")
		ul(class="tabs")
			li(class="active")
				a(href="#") #oulu
			li
				a(href="#") #node.js
		div(id="ircrows")
			div(class="ircrow")
				span "foo"
			div(class="ircrow")
				span "bar"
	div(class="span2 columns offset1")
		ul(class="unstyled")
			li paveq
			li jhh
			li jkj

