div(class="topbar")
	div(class="fill")
		div(class="container")
			h3
				span
					| Modern 
					a(href='http://en.wikipedia.org/wiki/IRC',target='_blank') IRC
					|  from 
					a(href='http://www.wolframalpha.com/input/?i=Oulu',target='_blank') Oulu
					|  where 
					a(href='http://en.wikipedia.org/wiki/IRC#History',target='_blank') IRC was born
					|  by 
					a(href='http://nodeknockout.com/teams/oulu',target='_blank') NKO Oulu
					| .
			a(href="/signup") Sign up!
			|  It takes only 15 seconds.
			//form(id="loginform",method="post",action="/login")
			//	input(type="text",id="username",placeholder="Username",autocomplete='off')
			//	input(type="text",id="password",placeholder="Password",autocomplete='off')
			//	input(type="submit",value="Login",autocomplete='off')

div(class="row")
	div(class="span4 columns offset2")
		h1 Web-chat
	
div(class="row")
	div(class="span15 columns offset1")
		div(id="input")
			h4 What's the Meaning of Life?
			form(id="sendmsgform")
				input(type="text",id="prompt",placeholder="",autocomplete='off')

div(class="row")
	div(class="span13 columns offset1")
		ul(class="tabs")
			li(class="active")
				a(href="#") Timeline
			// li
			// 	a(href="#") Mentions
		div(id="ircrows")
			div(class="ircrow")
				span "foo"
			div(class="ircrow")
				span "bar"
	div(class="span2 columns offset1")
		ul(class="unstyled")
			li paveq
			li jhh
			li jkj

