div(class="row")
	div(class="span15 columns offset1")
		div(id="input")
			h4 What's topic?
			form(id="sendmsgform")
				input(type="text",id="prompt",placeholder="",autocomplete='off')

div(class="row")
	div(class="span14 columns offset1")
		ul(class="tabs")
			li(id="timelinetab",class="tab active")
				a(href="#") Timeline
			li(id="guidetab",class="tab")
				a(href="#") Custom guide
		div(id="ircrows",class="tabcontent")
		div(id="guide",class="tabcontent",style="display: none;")
			!= partial('custom-guide')
	//div(class="span2 columns offset1")
	//	ul(class="unstyled",id="nicklist")
	//		li paveq
	//		li jhh
	//		li jkj

