div(class="row")
	div(class="span10 columns offset1")
		div(id="input")
			form(id="sendmsgform")
				input(type="text",id="prompt",placeholder="What's happening?",autocomplete='off')
	div(class="span5 columns")
		p(style="float: left; margin-right: 6px;") Backend status:
		div#backends

div(class="row")
	div(class="span14 columns offset1")
		ul(class="tabs")
			li(id="timelinetab",class="tab active")
				a(href="#") Timeline
			li(id="introtab",class="tab")
				a(href="#") Introduction
			li(id="guidetab",class="tab")
				a(href="#") Custom guide
		div(id="ircrows",class="tabcontent")
		div(id="intro",class="tabcontent",style="display: none;")
			!= partial('intro')
		div(id="guide",class="tabcontent",style="display: none;")
			!= partial('custom-guide')
	//div(class="span2 columns offset1")
	//	ul(class="unstyled",id="nicklist")
	//		li paveq
	//		li jhh
	//		li jkj
