h3 Introduction

p
	| This is 
		a(href='http://nodeknockout.com/teams/oulu') our Node Knockout entry
	| . It's basically a hosted web-based remote shell service. The browser 
	| client is just very simple IRC client. It could as well support uploading 
	| images and files to your remote server and other optional plugins.

p
	a(href='http://search.npmjs.org/#/icecapdjs') The icecapd(js) backends
	|  are run on local unix accounts that are created 
	| when first visiting the site. Linux knows about the accounts via nss-ldap 
	| – ldapjs – couchdb.

Some features:

ul
	li Avatars are automatically selected from Gravatar Service based on user's idents
	li Our backend can be connected to the server from any system supporting Node.js and NPM

