h3 Introduction

p
	| This is our Node Knockout entry. It's basically a hosted web-based remote 
	| shell service but at the moment the browser client is just very simple 
	| IRC client. It could as well support uploading images and files to your 
	| remote servers and other optional plugins.

p
	| The icecapd(js) irc clients are run on local unix accounts that are created 
	| when first visiting the site. Linux knows about the accounts via nss-ldap 
	| – ldapjs – couchdb.

Some features:

ul
	li Avatars are automatically selected from Gravatar Service based on user's idents
	li Our backend can be connected to the server from any system supporting Node.js and NPM

