!!! 5
html(lang="en")
	head
		title= title
		link(rel='stylesheet/less', href='/stylesheets/bootstrap/bootstrap.less')
		link(rel='text/css', href='/stylesheets/style.css')
		script(type='text/javascript',src='/javascripts/jquery-1.6.2.min.js')
		script(type='text/javascript',src='/socket.io/socket.io.js')
		script(type='text/javascript',src='/javascripts/less-1.1.3.min.js')
		script(type='text/javascript',src='/javascripts/jquery.cookie.js')
		script(type='text/javascript',src='/javascripts/client.js')
	body
		div(class="topbar")
			div(class="fill")
				div(class="container")
					h3
						span
							| Modern 
							a(href='http://en.wikipedia.org/wiki/IRC',target='_blank') IRC
							|  from 
							a(href='http://www.wolframalpha.com/input/?i=Oulu',target='_blank') Oulu
							|  where 
							a(href='http://en.wikipedia.org/wiki/IRC#History',target='_blank') IRC was born
							|  by 
							a(href='http://nodeknockout.com/teams/oulu',target='_blank') NKO Oulu
							| .
					ul(class="nav secondary-nav")
						li(class="menu")
							a(href="#",class="menu") Preferences
					div(class="modal",style="position: absolute; top: 40px; left: 40%; margin: 0 auto; z-index: 1")
						div(class="modal-header")
							h3 Preferences
						div(class="modal-body",style="margin-bottom: 50px;")
							form(id="settingsform",style="float: left; margin: 0,0,0,0;")
								input(type="text",id="nick",placeholder="set your nick here",autocomplete='off')
						div(class="modal-footer")
							a(href="#",class="btn primary") Commit
							a(href="#",class="btn secondary") Cancel
					//a(href="/login") login
					//|  or 
					//a(href="/setup") setup
					//| ! It takes only 15 seconds.
					//form(id="loginform",method="post",action="/login")
					//	input(type="text",id="username",placeholder="Username",autocomplete='off')
					//	input(type="text",id="password",placeholder="Password",autocomplete='off')
					//	input(type="submit",value="Login",autocomplete='off')

		div(class="row")
			div(class="span4 columns offset2")
				h1 Web-chat
		!= body
