div(class="row")
	div(class="span15 columns offset1")
		div(id="input")
			h4 Request new API key
			form(id="setupform")
				input(type="text",name='email',id="prompt",placeholder="Your email address",autocomplete='off')
				br
				br
				button(type='submit', class='button positive')
					| Setup

			hr
